<div id="<%= dom_id assinatura %>">
  <p>
    <strong>Cliente:</strong>
    <%= assinatura.cliente_id %>
  </p>
  <p>
    <strong>Cliente:</strong>
    <%= assinatura.cliente.nome %>
  </p>

  <p>
    <strong>Servidor:</strong>
    <%= assinatura.servidor.nome %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= assinatura.data_inicio %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= assinatura.data_vencimento %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= assinatura.observacoes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= assinatura.status %>
  </p>

</div>